<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="{{siteURL}}/css/style.css" rel="stylesheet" />
    {{> favicon }}
  </head>
  <body>

    {{> header }}

    {{{contents}}}
    {{#if isHome}}
      {{> cardLoop cards=collections.pres siteURL=siteURL }}
    {{/if}}
    {{> footer}}
  </body>
</html>
