<nav class="top-nav">
  <ul>
    <li>
      <a href="{{siteURL}}/index.html"><img src="{{siteURL}}/img/logo.png" title="Awesome Developer Presentations" alt="Awesome Developer Presentations" /></a>
    </li>
    <li>
      <a href="#about">About</a>
    </li>
  </ul>
</nav>
