<nav class="top-nav">
  <ul>
    <li>
      <a class="transition" href="{{siteURL}}/index.html"><img src="{{siteURL}}/img/logo.png" title="Awesome Developer Presentations" alt="Awesome Developer Presentations" /></a>
    </li>
    <li>
      <a class="transition" href="#about">About</a>
    </li>
    <li>
      <a class="transition" href="https://github.com/dstack/adpres">Fork on Github</a>
    </li>



  </ul>
</nav>
